.container {
    max-width: 960px;
    margin: 0 auto;
}

.flash-box {
    margin-top: 16px;
    max-width: 100%;
    padding: 8px;
    border-radius: 2px;
    border: solid 1px gray;
}
.flash-error {
    background-color: #f99;
}
.flash-warning {
    background-color: #ff9;
}
.flash-info {
    background-color: #9df;
}
.flash-success{
    background-color: #9f9;
}
}

